* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

:root {
 --h1-mobile-size: 24px;
 --h2-mobile-size: 20px;
 --h3-mobile-size: 18px;
 --p-mobile-size: 16px;

 --h1-desktop-size: 32px;
 --h2-desktop-size: 24px;
 --h3-desktop-size: 20px;
 --p-desktop-size: 18px;

 --bg-color: #121212;
 --btn-color: #6d9d8c;
}

a {
 text-decoration: none;
 list-style: none;
 cursor: pointer;
 color: #fff;
}

body {
 width: 100%;
 background: var(--bg-color);
 font-family: "figtree", Arial, Helvetica, sans-serif;
 position: relative;
 overflow-x: hidden;
 color: #fff;
}

body::before {
 content: "";
 position: fixed;
 width: 900px;
 height: 900px;
 background: radial-gradient(circle at 50% 15%, #5a8f7b 0%, transparent 80%);
 top: 250px;
 left: 50%;
 transform: translateX(-50%);
 filter: blur(200px);
 opacity: 0.2;
 z-index: -1;
 pointer-events: none;
}

.primaryBtn {
 background: var(--btn-color);
 border: none;
 padding: 16px 32px;
 border-radius: 10px;
 color: #fff;
 font-family: "figtree", Arial, Helvetica, sans-serif;
 font-size: var(--p-mobile-size);
 font-weight: 400;
 line-height: 1;
 text-transform: uppercase;
 cursor: pointer;
}

/*NAV Section */

#navContainer {
 width: 100%;
 height: 70px;
 padding: 12px 23px;
}

nav img {
 width: 40px;
}

#hamburgerBtn {
 position: relative;
 z-index: 1100;
 background: none;
 border: none;
 padding: 0;
 cursor: pointer;
}

#hamburgerBtn.active {
 position: fixed;
 top: 20px;
 right: 20px;
}

#hamburgerBtn.active .openIcon {
 display: none;
}

#hamburgerBtn.active .closeIcon {
 display: inline;
}

.closeIcon {
 display: none;
}

.navWrapper {
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.navContentLinks {
 display: none;
}

#mobileNav {
 position: fixed;
 inset: 0;
 background: rgba(0, 0, 0, 0.7);
 backdrop-filter: blur(10px);
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 padding-top: 20vh;
 align-items: center;
 gap: 32px;
 transform: translateY(-100%);
 transition: transform 0.3s ease;
 z-index: 1000;
}

#mobileNav.active {
 transform: translateY(0);
}

#mobileNav a {
 font-size: 24px;
}

/*Hero Section */
.heroSection {
 padding-bottom: 48px;
}

#heroContainer {
 width: 100%;
 display: flex;
 margin: 0 auto;
}

#heroContainer img {
 width: 100%;
 max-width: 100%;
 height: auto;
 mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
}

/*Card section */
.cardTop {
 display: flex;
 align-items: center;
 gap: 12px;
 &::before,
 &::after {
  content: "";
  flex: 1;
  max-width: 80px;
  height: 1px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.4);
 }
}
h1.cardTitle {
 text-transform: uppercase;
 font-size: var(--h1-mobile-size);
 white-space: nowrap;
 font-weight: 200;
}

.cardContainer {
 display: grid;
 grid-template-columns: 1fr;
 gap: 24px;
 padding: 32px 24px;
 max-width: 1440px;
 margin: 0 auto;
}

.cardContent h1 {
 font-size: var(--h1-mobile-size);
}

.card {
 background: #1d1d1d;
 border-radius: 20px;
 overflow: hidden;
}

.card img {
 width: 100%;
 height: 100%;
 object-fit: cover;
}

.cardImg {
 aspect-ratio: 3 / 2;
 overflow: hidden;
}

.cardContent {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 8px;
 padding: 12px 16px;
}

.cardContent h3 {
 font-size: var(--h3-mobile-size);
}
.cardContent p {
 font-size: var(--p-mobile-size);
}

.cardBtn {
 display: flex;
 gap: 12px;
 margin: 12px 0;
}

.repoPage,
.mainPage {
 background: transparent;
 border: 2px solid var(--btn-color);
 color: var(--btn-color);
 transition:
  box-shadow 300ms ease-in-out,
  color 300ms ease-in-out;
 &:hover {
  box-shadow: 0 0 40px 40px var(--btn-color) inset;
 }

 &:hover,
 &:focus {
  color: #fff;
  outline: 0;
 }
}

@media (min-width: 768px) {
 .navContentLinks {
  display: flex;
  gap: 12px;
  font-size: 20px;
  font-weight: 300;
 }

 .navContentLinks a {
  color: #fff;
  cursor: pointer;
 }
 #hamburgerBtn {
  display: none;
 }
 .heroSection {
  padding-bottom: 90px;
 }

 h1.cardTitle {
  font-size: var(--h1-desktop-size);
 }

 .cardTop {
  &::before,
  &::after {
   max-width: 420px;
  }
 }
 .cardContainer {
  grid-template-columns: repeat(3, 1fr);
 }

 .cardImg {
  aspect-ratio: 4 / 3;
 }

 .primaryBtn {
  padding: 12px 16px;
 }
}
