* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

:root {
 --h1-mobile-size: 24px;
 --h2-mobile-size: 20px;
 --h3-mobile-size: 18px;
 --h4-mobile-size: 17px;
 --p-mobile-size: 16px;

 --h1-desktop-size: 32px;
 --h2-desktop-size: 24px;
 --h3-desktop-size: 20px;
 --h4-desktop-size: 19px;
 --p-desktop-size: 18px;

 --bg-color: #121212;
 --btn-color: #6d9d8c;
}

html {
 scroll-behavior: smooth;
}

a {
 text-decoration: none;
 list-style: none;
 cursor: pointer;
 color: #fff;
}

body {
 width: 100%;
 background: var(--bg-color);
 font-family: "figtree", Arial, Helvetica, sans-serif;
 position: relative;
 overflow-x: hidden;
 color: #fff;
}

body.no-scroll {
 overflow: hidden;
}

body::before {
 content: "";
 position: fixed;
 width: 100vw;
 height: 100vh;
 background-image: url("../images/bg-image.jpg");
 background-size: cover;
 top: 0;
 left: 0;
 mix-blend-mode: overlay;
 opacity: 40;
 z-index: -1;
 pointer-events: none;
}

section {
 padding: 40px;
}

.primaryBtn {
 background: var(--btn-color);
 padding: 8px 12px;
 border-radius: 10px;
 color: #fff;
 font-family: "figtree", Arial, Helvetica, sans-serif;
 font-size: var(--p-mobile-size);
 font-weight: 400;
 line-height: 1.4;
 text-transform: uppercase;
 cursor: pointer;
 box-shadow: 0 12px 30px rgba(0, 0, 0, 0.7);
 border: 1px solid rgba(255, 255, 255, 0.05);
}

/*NAV Section */

#navContainer {
 position: sticky;
 z-index: 9999;
 top: 0;
 width: 100%;
 height: 80px;
 padding: 16px 32px;
 background-color: rgba(18, 18, 18, 0.85);
 backdrop-filter: blur(8px);
 -webkit-backdrop-filter: blur(8px);
 border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

nav img {
 width: 40px;
}

#hamburgerBtn {
 position: relative;
 z-index: 9999;
 background: none;
 border: none;
 padding: 0;
 cursor: pointer;
}

#hamburgerBtn.active {
 position: fixed;
 top: 20px;
 right: 20px;
}

#hamburgerBtn.active .openIcon {
 display: none;
}

#hamburgerBtn.active .closeIcon {
 display: block;
}

.closeIcon {
 display: none;
}

.navWrapper {
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.navContentLinks {
 display: none;
}

#mobileNav {
 position: fixed;
 inset: 0;
 background: rgba(0, 0, 0, 0.7);
 backdrop-filter: blur(10px);
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 padding-top: 20vh;
 align-items: center;
 gap: 32px;
 transform: translateY(-100%);
 transition: transform 0.3s ease;
 z-index: 9998;
}

#mobileNav.active {
 transform: translateY(0);
}

#mobileNav a {
 font-size: 24px;
 transition: color 0.3s ease;
}

#mobileNav a:hover,
#mobileNav a:focus {
 color: var(--btn-color);
}

/*Hero Section */
#heroContainer {
 width: 100%;
 display: flex;
 margin: 0 auto;
}

#heroContainer img {
 width: 100%;
 max-width: 100%;
 height: auto;
 mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
}

/*Card section */
.cardTop {
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 12px;
 &::before,
 &::after {
  content: "";
  flex: 1;
  max-width: 80px;
  height: 1px;
  margin-bottom: 24px;
  background: rgba(255, 255, 255, 0.4);
 }
}
h1.cardTitle {
 text-transform: uppercase;
 font-size: var(--h1-mobile-size);
 white-space: nowrap;
 font-weight: 200;
 margin-bottom: 24px;
}

.cardContainer {
 display: grid;
 grid-template-columns: 1fr;
 gap: 24px;
 padding: 0 24px;
 max-width: 1440px;
 margin: 0 auto;
}

.cardContent h1 {
 font-size: var(--h1-mobile-size);
}

.card {
 background: #1d1d1d;
 border-radius: 20px;
 overflow: hidden;
 box-shadow: 0 12px 30px rgba(0, 0, 0, 0.7);
 border: 1px solid rgba(255, 255, 255, 0.05);
 margin: 24px 0;
}

.card img {
 width: 100%;
 height: 100%;
 object-fit: cover;
}

.cardImg {
 aspect-ratio: 3 / 2;
 overflow: hidden;
}

.cardContent {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 16px;
 padding: 12px 16px;
}

.cardContent h3 {
 font-size: var(--h3-mobile-size);
}
.cardContent p {
 font-size: var(--p-mobile-size);
}

.cardBtn {
 display: flex;
 flex-wrap: wrap;
 gap: 16px;
 padding: 16px 0;
}

.cardBtn a {
 flex: 1 1 auto;
 text-align: center;
}

.repoPage,
.mainPage {
 background: transparent;
 border: 2px solid var(--btn-color);
 color: var(--btn-color);
 transition:
  box-shadow 300ms ease-in-out,
  color 300ms ease-in-out;
 &:hover {
  box-shadow: 0 0 40px 40px var(--btn-color) inset;
 }
 &:hover,
 &:focus {
  color: #fff;
  outline: 0;
 }
}

.aboutSection {
 width: 100%;
 max-width: 392px;
 display: flex;
 flex-direction: column;
 align-items: center;
 padding: 40px 15px;
 margin: 64px auto;
 overflow: hidden;
 background: #1d1d1d;
 border-radius: 20px;
 box-shadow: 0 12px 30px rgba(0, 0, 0, 0.7);
 border: 1px solid rgba(255, 255, 255, 0.05);
}

.aboutWrapper {
 width: 100%;
}

.aboutTitle {
 font-size: 32px;
 color: #ffc073;
 text-align: center;
 display: flex;
 justify-content: center;
 gap: 8px;
 margin-bottom: 32px;
}

.carouselWrapper {
 display: flex;
 align-items: center;
 justify-content: center;
 width: 100%;
 position: relative;
 z-index: 2;
}

.carouselContainer {
 flex: 1;
 width: 100%;
 max-width: 100%;
 touch-action: pan-y;
 overflow: hidden;
 border-radius: 12px;
}

.carouselContent {
 display: flex;
 transition: transform 0.8s ease-in-out;
 gap: 0;
}

.carouselBtn {
 display: none;
}

.flipCard {
 flex: 0 0 100%;
 width: 100%;
 height: 450px;
 min-width: 100%;
 perspective: 1000px;
 background-color: transparent;
}

.flipCardInner {
 position: relative;
 width: 100%;
 height: 100%;
 text-align: center;
 transition: transform 0.5s;
 transform-style: preserve-3d;
}

.flipCard.is-flipped .flipCardInner {
 transform: rotateY(180deg);
}

.flipCardFront,
.flipCardBack {
 position: absolute;
 width: 100%;
 height: 100%;
 overflow: hidden;
 backface-visibility: hidden;
 border-radius: 12px;
 box-shadow:
  0 4px 6px rgba(0, 0, 0, 0.3),
  0 1px 3px rgba(0, 0, 0, 0.15),
  inset 0 1px 1px rgba(255, 255, 255, 0.05);
 transition:
  box-shadow 0.8s ease,
  transform 0.5s;
}

.flipCard.is-flipped .flipCardFront,
.flipCard.is-flipped .flipCardBack {
 box-shadow:
  0 22px 44px rgba(0, 0, 0, 0.7),
  0 8px 16px rgba(0, 0, 0, 0.4) inset 0 1px 1px rgba(255, 255, 255, 0.08);
}

.flipCardFront img {
 width: 100%;
 height: 100%;
 object-fit: cover;
}

.flipCardBack {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 background-color: transparent;
 color: #fff;
 padding: 32px;
 transform: rotateY(180deg);
}

.flipCardBack::before {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: -1;
 border-radius: 12px;
 background-color: rgba(255, 255, 255, 0.08);
 backdrop-filter: blur(15px);
 -webkit-backdrop-filter: blur(15px);
 border: 1px solid rgba(255, 255, 255, 0.1);
}

.flipCardBack h3 {
 font-size: var(--h3-mobile-size);
 margin-bottom: 12px;
}

.flipCardBack p {
 font-size: var(--p-mobile-size);
 line-height: 1.8;
}

.aboutContent {
 width: 100%;
 max-width: 392px;
 margin: 0 auto;
 border-radius: 12px;
 position: relative;
 background: #1d1d1d;
 padding: 40px 24px 40px;
 margin-top: -90px;
 z-index: 3;
 line-height: 1.4;
 box-shadow: 0 12px 30px rgba(0, 0, 0, 0.7);
 border: 1px solid rgba(255, 255, 255, 0.05);
}

.aboutSection::before,
.aboutContent::before {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-image: url("../images/michal-binkiewicz-NPnNiG6q7LA-unsplash.jpg");
 background-repeat: repeat;
 opacity: 0.01;
 z-index: 1;
 pointer-events: none;
 border-radius: inherit;
}

.aboutSection .aboutTitle,
.aboutSection .carouselWrapper,
.aboutContent .aboutContainer {
 position: relative;
 z-index: 2;
}

.aboutContainer {
 max-width: 520px;
 margin: 0 auto;
}

.aboutContainer h3 {
 text-align: center;
}

.aboutColumns {
 display: grid;
 grid-template-columns: 1fr;
 gap: 32px;
 margin: 32px 0;
}

.columnBottomLeft {
 margin: 16px 0;
}

.textStyling {
 color: var(--btn-color);
 font-weight: 600;
}

/*CV Section */
.cvSection {
 margin-top: 84px;
 padding: 0 40px;
}
.cvTitle {
 text-align: center;
 margin-bottom: 40px;
 text-transform: uppercase;
 font-weight: 400;
}

.cvContainer {
 position: relative;
 display: flex;
 flex-direction: column;
 gap: 40px;
 max-width: 600px;
 margin: 0 auto;
}

.cvStroke {
 position: absolute;
 top: 0;
 bottom: 0;
 left: 80px;
 width: 2px;
 background: #2a2a2a;
 border-radius: 8px;
 z-index: 1;
}
.cvProgress {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 0%;
 background: var(--btn-color);
 border-radius: 8px;
 transition: height 0.2s linear;
}

.cvContent {
 display: grid;
 grid-template-columns: 60px 1fr;
 gap: 40px;
 align-items: start;
 position: relative;
 z-index: 2;
}

.edYear {
 font-size: var(--h3-mobile-size);
 opacity: 0.5;
 position: sticky;
 text-align: right;
 top: 140px;
 height: max-content;
}

.edYear::after {
 position: absolute;
 content: "";
 right: -31px;
 top: -1px;
 width: 16px;
 height: 16px;
 background: #2a2a2a;
 border: 2px solid var(--bg-color);
 border-radius: 50%;
 z-index: 2;
}

.edYear.active::after {
 background: var(--btn-color);
 border-color: var(--btn-color);
 transition: all 0.4s ease;
}

.cvCard {
 margin: 0;
}

.cvCard h3 {
 margin-bottom: 10px;
}

.cvTitle {
 font-size: var(--h2-mobile-size);
 margin-bottom: 60px;
}

.edIcons {
 display: flex;
 flex-wrap: wrap;
 gap: 10px;
 margin: 16px 0;
}

.cvCard p {
 margin: 6px 0;
}

/* Workplaces */
.cvWorkplaces {
 margin: 120px auto;
}

.cvWorkplaces h2 {
 text-align: center;
 margin-bottom: 40px;
 text-transform: uppercase;
 font-weight: 400;
}

.cvWorkContainer {
 display: grid;
 grid-template-columns: 1fr 1fr;
 gap: 70px;
 padding: 0 32px;
 max-width: 490px;
 margin: 0 auto;
}

.cvWork {
 transition:
  0.2s ease-in-out,
  color 0.2 ease-in-out;
 cursor: default;
}

.cvWork:hover {
 transform: scale(1.06);
 color: #ffc073;
}

.cvWork h3 {
 margin-bottom: 16px;
}

.cvWork p {
 margin: 6px 0;
}

/* Contact Section */
.contactSection {
 margin: 84px 0;
 padding: 0 20px;
}

.contactInfo {
 display: flex;
 flex-direction: column;
 align-items: center;
 position: relative;
 overflow: hidden;
 background: linear-gradient(135deg, #2a2a2a 0%, #1d1d1d 100%);
 border: 1px solid rgba(255, 255, 255, 0.05);
 max-width: 600px;
 margin: 0 auto;
 padding: 64px 24px;
 border-radius: 18px;
 box-shadow: 0 12px 30px rgba(0, 0, 0, 0.7);
}

.contactInfo::before {
 content: "";
 position: absolute;
 top: 10px;
 left: 0;
 width: 100%;
 height: 100%;
 background-image: url("../images/michal-binkiewicz-NPnNiG6q7LA-unsplash.jpg");
 background-repeat: repeat;
 opacity: 0.01;
 z-index: 1;
 pointer-events: none;
 border-radius: inherit;
}

.connectTitle {
 font-size: var(--h2-mobile-size);
 margin-bottom: 24px;
}

.contactInfo p {
 font-size: var(--p-mobile-size);
 margin-bottom: 32px;
 line-height: 1.5;
}

.connectBtn {
 display: inline-flex;
 align-items: center;
 padding: 12px 16px;
 gap: 12px;
 text-transform: none;
 font-family: "figtree";
 font-size: var(--h4-mobile-size);
 font-weight: 600;
 background: transparent;
 border: 2px solid var(--btn-color);
 color: var(--btn-color);
 border-radius: 0 16px 16px 16px;
 transition:
  box-shadow 300ms ease-in-out,
  color 300ms ease-in-out;
 &:hover {
  box-shadow: 0 0 40px 40px var(--btn-color) inset;
 }

 &:hover,
 &:focus {
  color: #fff;
  outline: 0;
 }
}

.primaryBtn img {
 width: 24px;
 height: auto;
}

.socialsContact {
 margin-top: 40px;
}

.socialIcons {
 display: flex;
 justify-content: center;
 gap: 16px;
}

.linkedInSocial,
.instagramSocial {
 transition:
  box-shadow 300ms ease-in-out,
  color 300ms ease-in-out;
 &:hover {
  box-shadow: 0 0 40px 40px var(--btn-color) inset;
 }

 &:hover,
 &:focus {
  color: #fff;
  outline: 0;
  border-radius: 0 8px 8px 8px;
 }
}

.socialIcons img {
 width: 46px;
 height: auto;
}

.footerContainer {
 width: 100%;
 height: 160px;
 border-top: 2px solid rgba(255, 255, 255, 0.08);
}

.footerContent {
 display: flex;
 flex-direction: column;
 justify-content: flex-end;
 align-items: center;
 font-weight: 100;
 padding: 90px 24px 24px 24px;
 gap: 12px;
}

/*Media query */

@media (min-width: 768px) {
 section {
  padding: 80px 0;
 }

 .navContentLinks {
  display: flex;
  gap: 12px;
  font-size: 20px;
  font-weight: 300;
 }

 #desktopNav a {
  color: #fff;
  cursor: pointer;
  position: relative;
 }

 #desktopNav a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: var(--btn-color);
  transition: width 0.3s ease-in-out;
 }

 #desktopNav a:hover::after {
  width: 100%;
 }

 #hamburgerBtn {
  display: none;
 }

 .heroSection {
  padding-bottom: 90px;
 }

 h1.cardTitle {
  font-size: var(--h1-desktop-size);
  margin-bottom: 46px;
 }

 .cardTop {
  &::before,
  &::after {
   max-width: 420px;
   margin-bottom: 46px;
  }
 }
 .cardContainer {
  grid-template-columns: repeat(3, 1fr);
 }

 .cardImg {
  aspect-ratio: 4 / 3;
 }

 .primaryBtn {
  padding: 12px 16px;
 }

 /**** ABout Section ****/
 .aboutSection {
  width: 100%;
  max-width: 1100px;
  padding: 84px 24px;
 }

 .aboutTitle {
  font-size: 56px;
  margin-bottom: 48px;
 }

 .carouselBtn {
  display: block;
  padding: 8px;
  background: none;
  border: none;
  flex-shrink: 0;
  cursor: pointer;
 }

 .carouselBtn img {
  width: 48px;
 }

 .carouselContainer {
  max-width: 600px;
 }

 .carouselWrapper {
  gap: 32px;
 }

 .flipCard {
  flex: 0 0 300px;
 }

 .flipCard:hover .flipCardInner {
  transform: rotateY(180deg);
 }

 .flipCard:hover .flipCardFront,
 .flipCard:hover .flipCardBack {
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
 }

 .flipCardBack h3 {
  font-size: var(--h2-desktop-size);
  margin-bottom: 12px;
 }

 .flipCardBack p {
  font-size: var(--p-desktop-size);
  line-height: 1.8;
 }

 .aboutContent {
  width: 100%;
  max-width: 1100px;
  margin-top: -120px;
 }

 .aboutContainer {
  max-width: 700px;
  margin: 0 auto;
 }

 .columnBottomLeft {
  margin: 16px 0;
 }

 .aboutContainer h3 {
  font-size: var(--h3-desktop-size);
  line-height: 1.5;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
 }

 .aboutColumns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 33px;
  margin: 32px 0;
  font-size: var(--p-desktop-size);
  font-weight: 200;
  line-height: 1.4;
 }

 .textStyling {
  color: var(--btn-color);
  font-weight: 600;
 }

 .cvSection {
  max-width: 1440px;
  margin-bottom: 56px;
 }

 .cvTitle {
  font-size: var(--h2-desktop-size);
  padding-top: 80px;
 }

 .cvContainer {
  max-width: 1000px;
  gap: 100px;
 }

 .cvStroke {
  left: 50%;
  transform: translateX(-50%);
 }

 .cvContent {
  grid-template-columns: 1fr 1fr;
  gap: 84px;
 }

 .edYear {
  font-size: var(--h2-desktop-size);
 }

 .edYear::after {
  right: -52px;
  top: -1px;
 }

 .cvCard h3 {
  font-size: var(--h3-desktop-size);
 }
 .cvCard p {
  font-size: var(--p-desktop-size);
 }

 .cvWorkplaces {
  margin: 98px 0;
 }
 .cvWorkContainer {
  grid-template-columns: repeat(4, 1fr);
  max-width: 1000px;
  margin: 0 auto;
  gap: 100px;
 }

 .cvWork h2 {
  margin-bottom: 32px;
 }

 .cvWork h3 {
  margin-bottom: 16px;
  font-size: var(--h3-desktop-size);
 }

 .cvWork p {
  margin: 8px 0;
  font-size: var(--p-desktop-size);
 }

 .cvWork h4 {
  font-size: var(--h4-desktop-size);
 }

 .connectTitle {
  font-size: var(--h2-desktop-size);
  margin-bottom: 24px;
 }

 .contactInfo p {
  width: 100%;
  max-width: 500px;
  font-size: var(--p-desktop-size);
  margin-bottom: 32px;
  line-height: 1.5;
  font-weight: 300;
 }

 .connectBtn {
  font-size: var(--h4-desktop-size);
  font-weight: 400;
 }

 .primaryBtn img {
  width: 24px;
  height: auto;
 }

 .socialsContact p {
  width: 100%;
  max-width: 420px;
  font-weight: 200;
  line-height: 1.5;
 }
}
